{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'e_app:all_category_products' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'e_app:all_category_products' %}">All Products</a></li>
              <li><hr class="dropdown-divider"></li>
              {% for cat in links %}
              <li><a class="dropdown-item" href="{{cat.get_url}}" >{{cat.name}}</a></li>
              {% endfor %}
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <li class="nav-item"><a  class="nav-link" href="{% url 'cart:cart_detail' %}"> Your Cart<i class="fas fa-cart-plus">{{item_count}}</i></a></li>
          {% if user.is_authenticated %}
          <li class="nav-item nav-link">Hai {{user.username}}</li>
        <li class="nav-item"><a  class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
          <li class="nav-item"><a  class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
        {% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" method="get" action="{% url 'search:search_view' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>